.footer {
    border-top: 1px solid #DEDEDE;
    color: var(--text-color3E);
    height: 79px;
    padding: 30px 129px;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text-color3E);
}