* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

ol,
ul {
    list-style: none;
}

:root {
    --text-colorA: #AAAAAA;
    --text-color3E: #3E3E3E;
    --text-color-active: #ffffff;
    --sidebar-background-color: #191718;
    --border-color: #5C5C5C;

}